.top-anime {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 150px;
    margin-right: 45px;

    &__img {
        width: 200px;
        height: 200px;
        overflow: hidden;
        & > img {
            transition: transform .5s ease;
            width: 200px;
             height: 200px;
            border-radius: 0.5rem;
            &:hover {
                transform: scale(1.3);
            }
        }
    }
    
    &__title {
        font-weight: bold;
        color: #fff;
    }
};